<nb-card class="bg-white">
  <nb-card-header class="addition-info-header d-flex">
    <div class="d-flex w-100 align-items-center justify-content-center">
      Редактирование информации
    </div>
    <button (click)="closeDialog()" ghost nbButton>
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-footer class="d-flex justify-content-center">
    <button nbButton class="mr-3" (click)="saveRecipient()" status="primary">Сохранить</button>
    <button nbButton (click)="closeDialog()" >Отменить</button>
  </nb-card-footer>
</nb-card>
