<nb-card class="bg-white">
  <nb-card-header class="addition-info-header d-flex">
    <div class="d-flex w-100 align-items-center justify-content-center">
      Редактирование информации
    </div>
    <button (click)="closeDialog()" ghost nbButton>
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body class="justify-content-center">
    <div class="form-control-group mb-2">
      <label class="label" for="bin">Бин организации</label>
      <input type="text" id="bin" [(ngModel)]="company.bin" fullWidth nbInput
             placeholder="Введите БИН" status="basic">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="name">Наименование</label>
      <input type="text" id="name" [(ngModel)]="company.title" fullWidth nbInput
             status="basic" placeholder="Введите наименование">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="directorName">Имя директора</label>
      <input type="text" id="directorName" [(ngModel)]="company.directorName" fullWidth nbInput status="basic"
             placeholder="Введите имя директора">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="directorPhone">Телефон директора</label>
      <input type="text" id="directorPhone" [(ngModel)]="company.directorPhone" fullWidth nbInput status="basic"
             placeholder="Введите телефон директора">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="email">Email</label>
      <input type="text" id="email" [(ngModel)]="company.emailAddress" fullWidth nbInput status="basic"
             placeholder="Введите email">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="physicalAddress">Физический адресс</label>
      <input type="text" id="physicalAddress" [(ngModel)]="company.physicalAddress" fullWidth nbInput status="basic"
             placeholder="Введите физический адресс">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="contactName">Контактное лицо</label>
      <input type="text" id="contactName" [(ngModel)]="company.contactName" fullWidth nbInput status="basic"
             placeholder="Введите имя контакта">
    </div>
    <div class="form-control-group mb-5">
      <label class="label" for="phone">Телефон</label>
      <input type="text" id="phone" [(ngModel)]="company.contactPhone" fullWidth nbInput status="basic"
             placeholder="Введите номер телефона">
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-center">
    <button nbButton class="mr-3" (click)="saveRecipient()" status="primary">Сохранить</button>
    <button nbButton (click)="closeDialog()">Отменить</button>
  </nb-card-footer>
</nb-card>
