h4 {
  color: #bdbdbd;
}

p.bold-text {
  font-weight: bold;
  color: #eb5757 !important;
}
.main-delete-div {
  width: 100%;
  margin: 0 0 20px !important;
}
.header-class {
  padding: 18px;
}
p {
  color: #828282;
}
.question-svg {
  margin-left: -73px;
  margin-top: 9px;
}
mat-dialog-container {
  width: 70%;
}
