.addition-info-header {
  background-color: #02344f;
}

.additional-info-modal {
  max-width: 100vw;
}

table {
  width: 100%;

  & td {
    color: black;
  }

  & th {
    color: black;
  }
  tbody tr th:nth-child(2),
  thead tr th:nth-child(2) {
    width: 300px;
  }
}
nb-card {
  margin-bottom: 0 !important;
  height: 100% !important;
  nb-card-footer {
    justify-self: flex-end;
  }
}
.category-card-header {
  background-color: #e8f2fe;
  color: #02344f;
}
.category-card-body {
  padding: 0 !important;
}
[nbInput] {
  color: black !important;
}
.wider-column {
  flex: 0 0 75px;
}
