<nb-card *ngIf="pageLoaded">
  <nb-card-header>
    <div class="d-flex">
      <div class="d-flex w-100 align-items-center justify-content-center">
        Настройка публикации отчетов
      </div>
      <button nbButton status="success" [routerLink]="'/admin'">Назад</button>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div class="row w-100">
        <div class="col-4">
          Дата недели <br><br>
          <button nbButton size="small" (click)="choseDates(dateDialog)">Выбрать день недели</button>
        </div>
        <div class="col-4">
          <div class="mb-3">Автоотправка</div>
          <nb-toggle (change)="changed(report)" [(ngModel)]="report.autoSending" status="primary"></nb-toggle>
        </div>
        <div class="col-4">Отправится через</div>
      </div>
      <div class="row w-100 align-items-center">
        <div class="col-4">
          <button class="header-buttons" (click)="openMatClassifier(report)" nbButton>Фильтр по материалам</button>
        </div>
        <div class="col-3">
          <button class="header-buttons" [routerLink]="'/admin/recipients/' + report.id" nbButton>Получатели</button>
        </div>
        <div class="col-5">
          <button class="header-buttons" *ngIf="report.isSending" nbButton status='danger'>Остановить публикацию
          </button>
          <button class="header-buttons" *ngIf="!report.isSending" nbButton status="primary">Восстановить публикацию
          </button>
        </div>
      </div>

    </div>

  </nb-card-header>
  <nb-card-body>
    <!--    TODO pdf-->
    <h1>PDF VIEWER</h1>
  </nb-card-body>

</nb-card>


<ng-template #dateDialog let-data let-ref="dialogRef">
  <nb-card class="chose-date-card">
    <nb-card-body>
      <div class="d-flex justify-content-end">
        <button nbButton ghost>
          <nb-icon (click)="ref.close()" icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="row justify-content-between">
        <nb-select [(ngModel)]="reportHours">
          <nb-option *ngFor="let hour of hoursList" value="{{hour}}">{{hour}}</nb-option>
        </nb-select>
        <span class="d-flex align-items-center">:</span>
        <nb-select [(ngModel)]="reportMinutes">
          <nb-option *ngFor="let minute of minutesList" value="{{minute}}">{{minute}}</nb-option>
        </nb-select>

        <button *ngIf="report.generateInMonday" (click)="report.generateInMonday = false" mat-raised-button>ПН</button>
        <button *ngIf="!report.generateInMonday" (click)="report.generateInMonday = true" mat-button>ПН</button>
        <button *ngIf="report.generateInTuesday" (click)="report.generateInTuesday = false" mat-raised-button>ВТ
        </button>
        <button *ngIf="!report.generateInTuesday" (click)="report.generateInTuesday = true" mat-button>ВТ</button>
        <button *ngIf="report.generateInWednesday" (click)="report.generateInWednesday = false" mat-raised-button>СР
        </button>
        <button *ngIf="!report.generateInWednesday" (click)="report.generateInWednesday = true" mat-button>СР</button>
        <button *ngIf="report.generateInThursday" (click)="report.generateInThursday = false" mat-raised-button>ЧТ
        </button>
        <button *ngIf="!report.generateInThursday" (click)="report.generateInThursday = true" mat-button>ЧТ</button>
        <button *ngIf="report.generateInFriday" (click)="report.generateInFriday = false" mat-raised-button>ПТ</button>
        <button *ngIf="!report.generateInFriday" (click)="report.generateInFriday = true" mat-button>ПТ</button>
        <button *ngIf="report.generateInSaturday" (click)="report.generateInSaturday = false" mat-raised-button>СБ
        </button>
        <button *ngIf="!report.generateInSaturday" (click)="report.generateInSaturday = true" mat-button>СБ</button>
        <button *ngIf="report.generateInSunday" (click)="report.generateInSunday = false" mat-raised-button>ВС</button>
        <button *ngIf="!report.generateInSunday" (click)="report.generateInSunday = true" mat-button>ВС</button>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-around">
      <button nbButton (click)="changeGenerateDays()" status="primary">Применить</button>
      <button nbButton (click)="cancelTime()">Отменить</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

