<nb-card *ngIf="pageLoaded">
  <nb-card-header>
    <div class="d-flex">
      <div class="d-flex w-100 align-items-center justify-content-center">
        Настройка публикации отчетов
      </div>
      <button nbButton status="success" [routerLink]="'/admin'">Назад</button>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        Дата недели <br><br>
        <button nbButton size="small" (click)="choseDates(dateDialog)">Выбрать день недели</button>
      </div>
      <div>
        <div class="mb-3">Автоотправка</div>
        <nb-toggle (change)="changed(report)" [(ngModel)]="report.autoSending" status="primary"></nb-toggle>
      </div>
      <div>
        Отчет отправится через 8 часов
        <br>
        <div class="d-flex justify-content-between">
          <div>
            <button nbButton>0</button>
            <br>
            Дней
          </div>
          <div>
            <button nbButton>07</button>
            <br>
            Часов
          </div>
          <div>
            <button nbButton>49</button>
            <br>
            Минут
          </div>
          <div>
            <button nbButton>00</button>
            <br>
            Секунд
          </div>
        </div>
      </div>
      <div>
        <button class="header-buttons" (click)="openMatClassifier(report)" nbButton>Фильтр по материалам</button>
      </div>
      <div>
        <button class="header-buttons" [routerLink]="'/admin/recipients/' + report.id" nbButton>Получатели</button>
      </div>
      <div>
        <button class="header-buttons" *ngIf="report.isSending" nbButton status='danger'>Остановить публикацию
        </button>
        <button class="header-buttons" *ngIf="!report.isSending" nbButton status="primary">Восстановить публикацию
        </button>
      </div>

    </div>

  </nb-card-header>
  <nb-card-body>
    <!--    TODO pdf-->
    <h1>PDF VIEWER</h1>
  </nb-card-body>

</nb-card>


<ng-template #dateDialog let-data let-ref="dialogRef">
  <nb-card class="chose-date-card">
    <nb-card-body>
      <div class="d-flex justify-content-end">
        <button nbButton ghost>
          <nb-icon (click)="cancelTime(ref)" icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="row justify-content-between">
        <nb-select [(ngModel)]="reportHours">
          <nb-option *ngFor="let hour of hoursList" value="{{hour}}">{{hour}}</nb-option>
        </nb-select>
        <span class="d-flex align-items-center">:</span>
        <nb-select [(ngModel)]="reportMinutes">
          <nb-option *ngFor="let minute of minutesList" value="{{minute}}">{{minute}}</nb-option>
        </nb-select>

        <button *ngIf="report.generateInMonday" (click)="report.generateInMonday = false" nbButton status="primary">ПН
        </button>
        <button *ngIf="!report.generateInMonday" (click)="report.generateInMonday = true" nbButton>ПН</button>
        <button *ngIf="report.generateInTuesday" (click)="report.generateInTuesday = false" nbButton status="primary">ВТ
        </button>
        <button *ngIf="!report.generateInTuesday" (click)="report.generateInTuesday = true" nbButton>ВТ</button>
        <button *ngIf="report.generateInWednesday" (click)="report.generateInWednesday = false" nbButton
                status="primary">СР
        </button>
        <button *ngIf="!report.generateInWednesday" (click)="report.generateInWednesday = true" nbButton>СР</button>
        <button *ngIf="report.generateInThursday" (click)="report.generateInThursday = false" nbButton status="primary">
          ЧТ
        </button>
        <button *ngIf="!report.generateInThursday" (click)="report.generateInThursday = true" nbButton>ЧТ</button>
        <button *ngIf="report.generateInFriday" (click)="report.generateInFriday = false" nbButton status="primary">ПТ
        </button>
        <button *ngIf="!report.generateInFriday" (click)="report.generateInFriday = true" nbButton>ПТ</button>
        <button *ngIf="report.generateInSaturday" (click)="report.generateInSaturday = false" nbButton status="primary">
          СБ
        </button>
        <button *ngIf="!report.generateInSaturday" (click)="report.generateInSaturday = true" nbButton>СБ</button>
        <button *ngIf="report.generateInSunday" (click)="report.generateInSunday = false" nbButton status="primary">ВС
        </button>
        <button *ngIf="!report.generateInSunday" (click)="report.generateInSunday = true" nbButton>ВС</button>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-around">
      <button nbButton (click)="changeGenerateDays(ref)" status="primary">Применить</button>
      <button nbButton (click)="cancelTime(ref)">Отменить</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

