<nb-card>
  <nb-card-header>
    Country Table
  </nb-card-header>

  <nb-card-body [nbSpinner]="loading"
                nbSpinnerStatus="primary">
    <h3>Filters</h3>
    <div class="form-control-group mb-2">
      <label class="label" for="code">Code</label>
      <input type="text" id="code" (keyup)="searchCode()" [(ngModel)]="search.code" fullWidth nbInput
             placeholder="Code">
    </div>
    <div class="form-control-group mb-2">
      <label class="label" for="nameKaz">NameKaz</label>
      <input type="text" id="nameKaz" (keyup)="searchNameKaz()" [(ngModel)]="search.NameKaz" fullWidth nbInput
             placeholder="NameKaz">
    </div>
    <div class="form-control-group mb-5">
      <label class="label" for="nameRus">NameRus</label>
      <input type="text" id="nameRus" (keyup)="searchNameRus()" [(ngModel)]="search.NameRus" fullWidth nbInput
             placeholder="NameRus">
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
