.addition-info-header {
  background-color: #02344f;
}

nb-card-header {
  color: #ffffff;
}

table {
  width: 100%;

  & td {
    color: black;
  }

  & th {
    color: black;
  }
}

nb-card {
  color: #17151c !important;
  height: 100%;
}

.category-card-header {
  background-color: #e8f2fe;
  color: #02344f;
}

.select-button {
  background-color: #f7f9fc;
  border-color: #e4e9f2;
  color: #222b45;
}

.category-card-body {
  padding: 0 !important;
}

[nbInput] {
  color: black !important;
}

.border-right-custom {
  border-right: 1px solid #2179db !important;
  padding-right: 15px;
}

.border-left-custom {
  border-left: 1px solid #2179db !important;
  padding-left: 30px;
}

.total-count-buton {
  border-left: white 1px solid;
  padding-left: 5px;
}

.main-materials-div {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
}

.close-icon {
  cursor: pointer;
}

.material-button {
  cursor: auto;
  max-width: 170px;
  display: inline-block;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-transform: capitalize !important;
  padding: 0.3rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
  color: rgba(24, 39, 58, 0.94) !important;
  font-weight: normal !important;
  border-color: #2179DB !important;
  background-color:  rgba(255, 255, 255, 0.7) !important;
}

.remove-material-icon {
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 0.1rem !important;
  color: #9a9b9c !important;
  background-color:  rgba(255, 255, 255, 0.7) !important;
}

.button-height-div {
  max-height: 40px;
  display: flex;
  margin-right: 5px;
}

.select-div {
  width: 20%;
  margin-right: 8px;
  min-width: 280px;
}

.card-header-otdels {
  //max-height: 40px;
  color: rgba(28, 48, 74, 0.5);
  background: rgba(26, 56, 96, 0.1);
  border-radius: 4px !important;
  margin-bottom: 5px !important;
  padding: 0.5rem 0.9rem !important;
}

.count-number {
  color: #2F80ED;
  font-weight: 600;
}

.otdel-name {
  color: rgba(24, 39, 58, 0.94);
  font-family: Roboto !important;
}

.otdel-list-item {
  cursor: pointer;
  border-bottom: 0.5px solid #979EA5 !important;
}

.list-card-body {
  padding: 0;
}
.classifier-card-body {
  margin-right: 10px;
}

.card-list {
  max-height: 80vh !important;
}

.otdel-list-item.selected {
  background: #e8f2fe;
}

nb-card {
  border: none;
}

.materials-button {
  //max-height: 40px;
  height: 31px;
  /* width: 284px; */
  min-width: 135px;
}

nb-icon {
  //color: #6BCCF9 !important;
  //cursor: pointer;
  //width: 30px;
  //height: 25px;
  //margin-right: 30px;
}

nb-option.selected {
  background-color: #3c763d !important;
}

