<nb-card class="bg-white">
  <nb-card-header class="addition-info-header d-flex justify-content-between">
    Классификатор материалов
    <button (click)="closeDialog()" ghost nbButton>
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body class="classifier-card-body">
    <div class="d-flex justify-content-between">
      <div class="select-div">
        <nb-select (selectedChange)="changeSelected($event)"  fullWidth placeholder="Отдел">
          <nb-option [value]="null">Выберите отдел</nb-option>
          <nb-option class="d-flex justify-content-between" *ngFor="let otdel of otdels" [value]="otdel">
            <div>{{otdel?.mcName}}</div>
            <div>{{otdel?.mcCount}}</div>
          </nb-option>
        </nb-select>
      </div>
<!--      <div class="select-div">-->
<!--        <nb-select fullWidth placeholder="Отдел">-->
<!--          <nb-option>Выберите Раздел</nb-option>-->
<!--          <nb-option *ngFor="let department of departments" [value]="department?.name">{{department?.name}}</nb-option>-->
<!--          <nb-option [value]="null">Выберите Раздел</nb-option>-->
<!--        </nb-select>-->
<!--      </div>-->
<!--      <div class="select-div">-->
<!--        <nb-select fullWidth placeholder="Подраздел">-->
<!--          <nb-option>Выберите подраздел</nb-option>-->
<!--          <nb-option *ngFor="let department of departments" [value]="department?.name">{{department?.name}}</nb-option>-->
<!--          &lt;!&ndash;      <nb-option [value]="null">Clean with null value</nb-option>&ndash;&gt;-->
<!--        </nb-select>-->
<!--      </div>-->
<!--      <div class="select-div">-->
<!--        <nb-select fullWidth placeholder="Группа">-->
<!--          <nb-option>Выберите группу</nb-option>-->
<!--          <nb-option *ngFor="let department of departments" [value]="department?.name">{{department?.name}}</nb-option>-->
<!--          &lt;!&ndash;      <nb-option [value]="null">Clean with null value</nb-option>&ndash;&gt;-->
<!--        </nb-select>-->
<!--      </div>-->
<!--      <div class="select-div">-->
<!--        <nb-select fullWidth placeholder="Подгруппа">-->
<!--          <nb-option>Выберите подгруппу</nb-option>-->
<!--          <nb-option *ngFor="let department of departments" [value]="department?.name">{{department?.name}}</nb-option>-->
<!--          &lt;!&ndash;      <nb-option [value]="null">Clean with null value</nb-option>&ndash;&gt;-->
<!--        </nb-select>-->
<!--      </div>-->
        <button (click)="openMaterialsDialog()" style="width: 190px" nbButton status="primary"
                class="d-flex justify-content-between">
          <div>Материалы</div>
          <div>{{totalCount}}</div>
        </button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <div class="border-right-custom">
        <div class="mb-2">Выбранные материалы</div>
        <button (click)="clearFilter()" nbButton outline status="primary">
          Очистить фильтр
        </button>
      </div>
      <div class="main-materials-div">
        <button class="d-flex justify-content-between material-button" nbButton outline status="primary">
          Грунт  <nb-icon (click)="removeFromList()" class="close-icon" icon="close-outline"></nb-icon>
        </button>
      </div>
      <div class="border-left-custom">
        <div class="row mb-2">
          <button nbButton status="primary">Применить</button>
        </div>
        <div class="row">
          <button nbButton outline status="primary" (click)="closeDialog()">Отменить</button>
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
