<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    Получатели
    <button nbButton ghost [routerLink]="'/admin/report-settings/' + id">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6">
        <h3>Категории получателей</h3>
        <div class="overflow-auto">
          <nb-list>
            <nb-list-item *ngFor="let i = index; let category of categories">
              <button (click)="goToInfo(category)" nbButton class="mr-2">
                <nb-icon icon="info-outline" ></nb-icon>
              </button>
              <button nbButton (click)="addToChosen(category, i)" ghost class="w-100">
                {{ category?.name }}
              </button>
            </nb-list-item>
          </nb-list>
          <button class="mt-5" nbButton (click)="addNewCategory()">Добавить категорию</button>
        </div>
      </div>
      <div class="col-6">
        <h3>Выбранные категории : {{chosenCategories.length}}</h3>
        <nb-list>
          <nb-list-item *ngFor="let i = index; let chosenCategories of chosenCategories">
            <button (click)="goToInfo(chosenCategories)" nbButton class="mr-2">
              <nb-icon icon="info-outline" ></nb-icon>
            </button>
            <button nbButton class="w-100" ghost>
              {{ chosenCategories?.name }}
            </button>
            <button nbButton (click)="deleteChosen(chosenCategories, i)"><nb-icon icon="trash-outline"></nb-icon></button>
          </nb-list-item>
        </nb-list>
      </div>
      </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-center">
    <button nbButton (click)="saveAndReturn()" class="mr-5" status="primary">Применить</button>
    <button nbButton [routerLink]="'/admin/report-settings/' + id">Отменить</button>
  </nb-card-footer>
</nb-card>
