<nb-card>
  <nb-card-header class="d-flex justify-content-between">
    <div>Saldo Other Table</div>
    <div>Общее количество элементов: {{ totalAmount }} <br>
      Общее количество элементов в Алматинском регионе: {{totalAlmatyAmount}} <br>
<!--      Общая сумма Net Migration: {{migrationSum}}-->
      Общая сумма Net Migration в Алматы: {{migrationSumAlmaty}}
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="loading"
                nbSpinnerStatus="primary">
    <ng2-smart-table [settings]="settings" [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
