<div class="d-flex mb-3 justify-content-between">
  <h3>{{report?.name}}</h3>
  <button nbButton status="success" [routerLink]="'/admin'">Назад</button>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let report">
<!--      TODO FILE PATH-->
      <img src="{{fileUrl }}" alt="" class="table-image">
    </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Дата и время публикации</th>
    <td class="row-{{(report.status === 'SENT') ? 'success': ''}}" mat-cell
        *matCellDef="let report">{{report.createdAt}}</td>
  </ng-container>
  <ng-container matColumnDef="sendAt">
    <th mat-header-cell *matHeaderCellDef>Дата и время отправки</th>
    <td class="row-{{(report.status === 'SENT') ? 'success': 'waiting'}}" mat-cell
        *matCellDef="let report">{{report.publicationDate}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Статус</th>
    <td class="row-{{(report.status === 'SENT') ? 'success': ''}}" mat-cell
        *matCellDef="let report">{{(report.status === 'SENT') ? 'Отправлен' : 'Опубликовано'}}</td>
  </ng-container>
  <ng-container matColumnDef="receivers">
    <th mat-header-cell *matHeaderCellDef>Кому отправлен</th>
    <td mat-cell
        *matCellDef="let report">{{(report.receivers.length === 1) ?
      report.receivers[0].title :
      report.receivers.length + ' получателей'}}
      <br>
      <a class="watch-list" (click)="openAdditionInfoMatDialog(report)"
         *ngIf="report?.receivers?.length !== 1 && report?.receivers?.length !== 0 ">Посмотреть список</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="autoSend">
    <th mat-header-cell *matHeaderCellDef>Автоотправка</th>
    <td mat-cell *matCellDef="let report">
      <div *ngIf="report.status === 'PUBLISHED'">
        <nb-toggle (change)="changed(report)" [(ngModel)]="report.autoSending" status="primary"></nb-toggle>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="sendBtn">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let report">
      <div *ngIf="report.status === 'PUBLISHED' && !report.autoSending">
        <button nbButton (click)="sendPublication(report)" size="small" status="primary">Отправить</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr style="padding-bottom: 15px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="d-flex justify-content-center mt-5">
  <button nbButton [routerLink]="'/admin/report-settings/' + id" status="primary">Настроить отчет</button>
</div>
<!--		<button nbButton (click)="openReportSettingsDialog()" status="primary">Настроить отчет</button>-->
