<div class="header-container">
  <div class="logo-container">
    <a class="logo" href="#" (click)="navigateHome()">
      <nb-user
        [onlyPicture]="userPictureOnly"
        [name]="user?.name"
        [picture]="user?.picture">
      </nb-user>
    </a>
  </div>
</div>

<div class="header-container">
  <nb-icon icon="settings-outline"></nb-icon>
  <nb-icon (click)="logout()" icon="log-out" nbTooltip="Выход" nbTooltipPlacement="bottom"></nb-icon>
  <!--  <nb-actions size="small">-->

  <!--&lt;!&ndash;    <nb-action class="control-item">&ndash;&gt;-->
  <!--&lt;!&ndash;      <nb-search type="rotate-layout"></nb-search>&ndash;&gt;-->
  <!--&lt;!&ndash;    </nb-action>&ndash;&gt;-->
  <!--&lt;!&ndash;    <nb-action class="control-item" icon="email-outline"></nb-action>&ndash;&gt;-->
  <!--    <nb-action class="control-item" icon="settings-outline"></nb-action>-->
  <!--    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >-->
  <!--      <nb-user [nbContextMenu]="userMenu"-->
  <!--               [onlyPicture]="userPictureOnly"-->
  <!--               [name]="user?.name"-->
  <!--               [picture]="user?.picture">-->
  <!--      </nb-user>-->
  <!--    </nb-action>-->
  <!--  </nb-actions>-->
</div>
