table {
  width: 100%;

  & td {
    color: #ffffff;
  }

  & th {
    width: 150px;
    color: #ffffff;
    &:nth-child(2) {
      width: 40%;
    }
  }
  tr,
  th,
  td {
    width: 150px;
    &:nth-child(2) {
      width: 300px;
    }
  }
}

.table-image {
  width: 100%;
  max-width: 65px;
  padding: 15px;
}

.report-row:hover {
  background-color: #374066;
  cursor: pointer;
}

table {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
}

//.mat-dialog-container, nb-dialog-container {
//  background: nb-theme(background-basic-color-1);
//  & .mat-table {
//    background-color: nb-theme(background-basic-color-1);
//    & .mat-header-cell, & .mat-cell {
//      color: nb-theme(text-basic-color);
//    }
//  }
//  .table {
//    background: nb-theme(background-basic-color-1);
//    & td {
//      color: nb-theme(text-basic-color);
//    }
//  }
//}
.layout-container {
  background-color: #191c26;
}
