<nb-card>
  <nb-card-header>
    Главная страница
  </nb-card-header>
  <nb-card-body>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="image" sticky>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let report">
          <img [routerLink]="'/admin/report-settings/' + report.id" src="{{fileUrl + '/' + report.imageUrl}}" alt="" class="table-image">
        </td>
      </ng-container>
      <ng-container  matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>Наименование</th>
        <td mat-cell *matCellDef="let report">{{report.name}}</td>
      </ng-container>
      <ng-container matColumnDef="amount" sticky>
        <th mat-header-cell *matHeaderCellDef>Количество отчетов</th>
        <td mat-cell *matCellDef="let report">{{report.numOfReports}}</td>
      </ng-container>
      <ng-container matColumnDef="status" sticky>
        <th mat-header-cell *matHeaderCellDef>Статус</th>
        <td mat-cell *matCellDef="let report">{{report.status}}</td>
      </ng-container>
      <ng-container matColumnDef="dates" sticky>
        <th mat-header-cell *matHeaderCellDef>Дата публикаций в месяце</th>
        <td mat-cell *matCellDef="let report">{{report.dates}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="report-row" (click)="test(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </nb-card-body>
</nb-card>
