<nb-card class="bg-white">
  <nb-card-header class="addition-info-header d-flex">
    <div class="d-flex w-100 align-items-center justify-content-center">
      Добавление новой компании
    </div>
    <button (click)="closeDialog()" ghost nbButton>
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body class="justify-content-center">
<!--    <div class="form-control-group mb-2">-->
<!--      <label class="label" for="code">Бин организации</label>-->
<!--      <input type="text" id="code" (keyup)="searchCode()" [(ngModel)]="company.code" fullWidth nbInput-->
<!--             placeholder="Code">-->
<!--    </div>-->
<!--    <div class="form-control-group mb-2">-->
<!--      <label class="label" for="nameKaz">NameKaz</label>-->
<!--      <input type="text" id="nameKaz" (keyup)="searchNameKaz()" [(ngModel)]="company.NameKaz" fullWidth nbInput-->
<!--             placeholder="NameKaz">-->
<!--    </div>-->
<!--    <div class="form-control-group mb-5">-->
<!--      <label class="label" for="nameRus">NameRus</label>-->
<!--      <input type="text" id="nameRus" (keyup)="searchNameRus()" [(ngModel)]="company.NameRus" fullWidth nbInput-->
<!--             placeholder="NameRus">-->
<!--    </div>-->
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-center">
    <button class="mr-3" nbButton status="primary">Добавить</button>
    <button nbButton >Отменить</button>
  </nb-card-footer>
</nb-card>
