.addition-info-header {
  background-color: #02344f;
  max-width: 100vw;
}

[nbInput] {
  color: black !important;
  background-color: white !important;
}

.selected-row {
  background-color: #e8f2fe;
}
table {
  width: 100%;
}
