.addition-info-header {
  background-color: #02344f;
}
[nbInput] {
  color: black !important;
}
.material-name {
  margin-right: 30px;
}
nb-card-header {
  color: #ffffff;
}
.selected-row {
  background-color: #e8f2fe;
}
