.addition-info-header {
  background-color: #02344f;
}

table {
  width: 100%;

  & td {
    color: black;
  }

  & th {
    color: black;
  }
}
.category-card-header {
  background-color: #e8f2fe;
  color: #02344f;
  align-items: center;
}
.edit-category-btn {
  cursor: pointer;
}
.category-card-body{
  padding: 0 !important;
}
[nbInput] {
  color: #000000 !important;
  background-color: #ffffff;
}
