.addition-info-header {
  background-color: #02344f;
}
[nbInput] {
  color: black !important;
}
[nbInput] {
  background-color: white !important;
}
table {
  width: 100%;

  & td {
    color: black;
  }

  & th {
    color: black;
  }
}
.center-test {
  padding: 200px;
}
.text-div-center {
  justify-content: center;
  color: black;
  text-align: center;
}
.square-div {
  border: grey 1px solid;
}
