<nb-card class="bg-white">
  <nb-card-header class="addition-info-header d-flex justify-content-between">
    Создание новой категории сведения
    <button (click)="closeDialog()" ghost nbButton>
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body style="padding: 40px">
    <div class="row">
      <h3 style="color: #217AD8">Название категории</h3>
    </div>
    <div class="row">
        <input type="text" [(ngModel)]="categoryName" fullWidth nbInput placeholder="Введите текст">
    </div>
    <div *ngIf = "receivers.length > 0" >
      <table mat-table [dataSource]="receivers" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell
              *matCellDef="let recipient">{{recipient.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Наименование компании</th>
          <td mat-cell
              *matCellDef="let recipient">{{recipient.name}}</td>
        </ng-container>
        <ng-container matColumnDef="bin">
          <th mat-header-cell *matHeaderCellDef>БИН организации</th>
          <td mat-cell
              *matCellDef="let recipient">{{recipient.bin}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell
              *matCellDef="let recipient">{{recipient.email}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
          <td mat-cell
              *matCellDef="let recipient">{{recipient.phoneNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell
              *matCellDef="let recipient">
            <button (click)="editRecipient(recipient)" nbButton ghost status="primary">
              <nb-icon icon="edit"></nb-icon>
            </button>
            <button (click)="deleteRecipient(recipient)" nbButton ghost status="danger">
              <nb-icon icon="close"></nb-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class="center-test">
      <div class="square-div">
        <div class="row text-div-center p-3">
          Для создания категории необходимо добавить <br> одну или несколько компаний
        </div>
        <div class="row justify-content-center p-3">
          <button nbButton [disabled]="!categoryName || categoryName == ' '" (click)="addNewCompany()" status="primary">Добавить</button>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-center">
    <button nbButton class="mr-3" (click)="saveCategory()" status="primary">Сохранить</button>
    <button nbButton (click)="closeDialog()">Отменить</button>
  </nb-card-footer>
</nb-card>
