<nb-card class="bg-white">
  <nb-card-header class="addition-info-header d-flex justify-content-between">
    Создание новой категории сведения
    <button (click)="closeDialog()" ghost nbButton>
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body style="padding: 40px">
    <div class="row">
      <h3 style="color: #217AD8">Название категории</h3>
    </div>
    <div class="row">
      <input type="text" status="basic" [(ngModel)]="categoryName" fullWidth nbInput  placeholder="Введите текст">
    </div>
    <div class="mt-4" *ngIf="receivers.length > 0">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID компании</th>
          <th scope="col">Наименование компании</th>
          <th scope="col">БИН организации</th>
          <th scope="col">Email</th>
          <th scope="col">Номер телефона</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reciever of receivers; let i = index">
          <td>{{reciever.id}}</td>
          <td>{{reciever.title}}</td>
          <td>{{reciever.bin}}</td>
          <td>{{reciever.emailAddress}}</td>
          <td>{{reciever.contactPhone}}</td>
          <td style="padding: 0.2rem;">
            <button (click)="deleteRecipient(reciever, i)" nbButton ghost status="danger">
              <nb-icon icon="close"></nb-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="center-test" *ngIf="receivers.length === 0">
      <div class="square-div">
        <div class="row text-div-center p-3">
          Для создания категории необходимо добавить <br> одну или несколько компаний
        </div>
        <div class="row justify-content-center p-3">
          <button nbButton [disabled]="!categoryName || categoryName == ' '" (click)="addNewCompany()" status="primary">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-center">
    <button nbButton class="mr-3" (click)="saveCategory()" status="primary">Сохранить</button>
    <button nbButton (click)="closeDialog()">Отменить</button>
  </nb-card-footer>
</nb-card>
